<p><table align="right" >
	<tr style="margin-bottom: 10px">
		<td class="label label-important"> past due </td>
		<td class=""> Today </td>
		<td class="label label-warning"> 1-3 days </td>
		<td class="label label-info"> 3-7 days </td>
		<td class="label label-default">7+ days</td>
	</tr>
</table>